{% extends "layout.html" %}
{% block body %}
  <h2>Update Database</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="" method=post enctype=multipart/form-data>
      <dl>
         <dd><input type="radio" name="type" id = 'option1' value="Sarfaesi" > Sarfaesi</input><br>
         <dd><input type="radio" name="type" id = 'option2' value="Display" > Display</input><br>
         <dd><input type="radio" name="type" id = 'option3' value="Apt" > Appointment</input><br>
         <dd><input type='file' name='file'>
         <dd><input type='submit' value='Upload'>
      </dl>
    </form>
{% endblock %}